/***** global settings *****/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*:focus {
    outline: none;
}
html {
    background-color: #fff;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    color: #555;
    font-family: "Lato", 'Arial', 'sans-serif';
    font-weight: 300;
}


/******************
    HEADER
******************/
header {
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/bleach-bg.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/bleach-bg.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

.logo {
    float: left;
    margin-top: 15px;
    margin-left: 50px;
}

.main-nav {
    float: right;
}

.main-nav ul {
    list-style: none;
    margin-top: 80px;
    width: 100%;
}

.main-nav ul li {
    display: inline-block;
    margin-right: 10px;
}

.main-nav ul li:last-child {
    margin-right: 60px;
}

.main-nav ul li a:link,
.main-nav ul li a:hover {
    text-decoration: none;
    margin-left: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav ul li a:hover,
.main-nav ul li a:active {
    border-bottom: 2px solid #4f3961;
}

.main-part {
    color: #fff;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    margin-left: 150px;
}

.main-part h1 {
    font-weight: 300;
    font-size: 300%;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 1px;
    word-spacing: 4px;
}


/***** reusable components *****/

h2 {
    text-align: center;
    color: #555;
    font-size: 240%;
    font-weight: 300;
    padding-top: 60px;
    padding-bottom: 40px;
}

h2:after {
    content: "";
    display: block;
    width: 10%;
    height: 2px;
    background-color: #4f3961;
    margin: 20px auto;
}

.long-copy {
    width: 50%;
    margin: 0 auto;
    line-height: 145%;
    margin-bottom: 40px;
}

.clear:after {
    display: table;
    content："";
    clear: both;
}

/****** ICONS  ******/
.icon-big {
    color: #4f3961;
    font-size: 60px;
    display: block;
}

.icon-small {
    color: #4f3961;
}

h3 {
    font-size: 120%;
    font-weight: 300;
    margin: 20px 0;
}

.row {
    width: 80%;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 50px;
    margin-right: 20px;
    display: inline-block;
}

.btn-full:link,
.btn-full:visited {
    border: 1px solid #4f3961;
    background-color: #4f3961;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #463356;
    background-color: #463356;
    -webkit-transition: border 0.2s, background-color 0.2s;
    transition: border 0.2s, background-color 0.2s;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #4f3961;
    color: #4f3961;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #463356;
    color: #463356;
    -webkit-transition: border 0.2s, color 0.2s;
    transition: border 0.2s, color 0.2s;
}

/******************
    FEATURES
******************/

.features {
    width: 80%;
    margin: 0 auto;
}

.features div {
    padding: 20px 1%;
}

.features p {
    line-height: 145%;
}

/******************
    IMAGE GALLERY
******************/

.gallery {
    width: 100%;
    margin-top: 70px;
}

.gallery figure{
    width: 25%; /* don't add the will have a white space for the last img, on it's right side */
    overflow: hidden;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
    background-color: #000;
}

.gallery .col {
    margin: 0;
}

.gallery img {
    display: inline-block;
    float: left;
    width: 100%;
    height: auto;
    opacity: 0.6;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
   
}

.gallery img:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity 0.2s, 2s, -webkit-transform 0;
    transition: opacity 0.2s, 2s, -webkit-transform 0;
    transition: opacity 0.2s, transform 0,2s;
    transition: opacity 0.2s, transform 0,2s, -webkit-transform 0;
}

/******************
    WORK
******************/
.work {
   background-color: #ededed;
   padding-bottom: 30px;
}
/* how to add background-color properly to it??   define a class row and center it , rather than work class.*/

.work_list ul {
    list-style: none;
}

.work_list ul li {
    margin-bottom: 60px;
    line-height: 145%;
   
    
}

.list_number {
    border: 2px solid #4f3961;
    padding: 5px;
    padding-top: 10px;
    font-size: 150%;
    text-align: center;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    float: left; /* at first, float not work, and I don't know why it's worked now*/
    margin-right: 30px;
    margin-bottom: 40px;
}

.work_img {
    margin-left: 60%;
}

.download_button img {
    height: 50px;
    margin-right: 30px;
}

/******************
    CHARACTER
******************/
.characters {
    margin-bottom: 60px;
}

.character {
    overflow: hidden;
}

.characters h3 {
    text-transform: uppercase;
}

.characters ul {
    list-style: none;
}

.characters ul li {
    margin-left: 10px;
    display: inline-block;
}

.characters ul li a:link,
.characters ul li a:visited {
    text-decoration: none;
    color: #4f3961;
    border-bottom: 1px solid #4f3961;
}

.characters ul li a:hover,
.characters ul li a:active {
    border-bottom: 1px solid transparent;
    color: #555;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

.character-item {
    margin-bottom: 10px;
}

/******************
    EVALUATIONS
******************/
.evaluations {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/bg-4.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg-4.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    padding-bottom: 60px;
}

.evaluations h2 {
    color: #fff;
}

.evaluations p:first-of-type {
    line-height: 145%;
    margin-bottom: 20px;
}

.evaluations p:first-of-type:before {
    content: '\“';
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 300%;
}

.evaluations img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    float: left;
}

.evaluation .name {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 30px;
}

/******************
    SIGN-UP
******************/
.sign-up {
    background-color: #eaeaea;
    padding-bottom: 60px;
}

.sign-up h3 {
    font-size: 150%;
}
.sign-up .col {
    
    background-color: #fff;
    border-radius: 5px;
}

.plan {
    width: 80%;
    margin: 0 auto;
}

.price-month {
    color: #4f3961;
    margin-bottom: 20px;
}

.price-month span {
    font-size: 300%;
    margin-right: 10px;
}

.price-day {
    font-size: 90%;
    margin-bottom: 30px;
}

.plan ul {
    list-style: none;
    border-bottom: 1px solid #e0dddd;
}

.plan ul li {
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 15px;
}

.plan .position {
    margin: 10px 20%;
    width: 60%;
    text-align: center;
}

/******************
    FORM
******************/
.form {
    padding-bottom: 60px;
}

.form form label {
    display: inline-block;
    text-align: left;
    padding-left: 15%;
}

.form form input[type='text'],
.form form input[type='email'],
.form form select,
.form form textarea {
    width: 40%;
    line-height: 145%;
}

.form form textarea {
    height: 90px;
}

.form form input[type='checkbox'] {
    display: inline-block;
    padding-right: 20px;
    border: 1px solid red;
}

input[type='submit']{
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    display: inline-block;
    border: 1px solid #4f3961;
    background-color: #4f3961;
    text-align: center;
    width: auto;
    margin-left: 40%;
    margin-top: 10px;
}

input[type='submit']:hover{
    border: 1px solid #463356;
    background-color: #463356;
    -webkit-transition: border 0.2s, background-color 0.2s;
    transition: border 0.2s, background-color 0.2s;
}

input[type='checkbox'] {
    margin-right: 10px;
}
/******************
    FOOTER
******************/
footer {
    background-color: #383838;
    padding-top: 40px;
}

footer .row:first-of-type {
    margin-top: 40px;
}

footer .nav1,
footer .nav2 {
    display: inline-block;
    list-style: none;
    margin-bottom: 20px;
    
}

footer .nav1 li,
footer .nav2 li {
    display: inline-block;
    padding-right: 40px;
    
}

footer .nav1 {
    float: left;
}

footer .nav1 li a:link,
footer .nav1 li a:visited {
    color: #747373;
    text-decoration: none;
    font-size: 90%;
}

footer .nav1 li a:hover,
footer .nav1 li a:active {
    transition: color 0.2s;
    color: #fff; 
}

footer .nav2 {
    float: right;
}

footer .nav2 li {
    cursor: pointer;
}

footer .nav-icon {
    font-size: 120%;
    color: #747373;
}

footer .nav-icon:hover {
    color: blue;
    transition: color 0.2s;
}

footer .copyright {
    width: 80%;
    line-height: 145%;
    margin: 0 auto;
    margin-bottom: 50px;
}
